/*RESET*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*COMMON*/

body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
.contenitore{
    width:75%;
    min-width: 650px;

    max-width: 1100px;
    min-height: 40px;
    margin:0 auto;
    display: flex;
}
.contenitore-reverse{
    flex-direction: row-reverse;
}

/* HEADER */

header{
    background-color: #255ee9;
    height: 80px;
    display: flex;
    align-items: center;
}

header div.contenitore{
    
    max-height: 40px;   
    min-width: 650px;

    
   

    display: flex;
    line-height: 40px;      /*debug*/
    vertical-align: center;
}

/*Menù*/
nav{
    width: 50%;
    display: flex;
}
/* Lista */
nav ul{
    width: 100%;
    min-width: 450px;
    list-style-type: none;
    

    display: flex;
    justify-content: center;

    
}

nav a{
   text-decoration: none;
   color: white;
   margin-right: 1rem;
}

/* Logo */
.logo{
    width: 25% ;
    max-height: 100%;
}

/*Login*/
.login{
    width: 25%; 

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.bottone{
    background-color: white;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    padding: 0.5rem ;
    border-radius: 20px;
}
.bottone a{
    text-decoration: none;
    color: black;
}

/*MAIN*/

/*Sezioni*/
.sezione{
    padding:30px 0px 30px;
}

/*1*/
.sezione-blu{
    background-color: #00008b;
}
.blocco1-A{    
    width: 40%;     
    background-color: #ee81ee;
    height: 250px;    /* debug */
    border: 1px dashed black;
}

/*2*/
.sezione-bianca{
    background-color: #ffffff;
}
.blocco2-A{
    width: 60%;
    background-color: #1d90ff;
    height: 350px;    /* debug */
    border: 1px dashed black;
}
.blocco2-B{
    width: 40%;
    background-color: #ffc0cb;
    height: 350px;    /* debug */
    border: 1px dashed black;
}

/*3*/
.sezione-grigio{
    background-color: #d3d3d3;
}

/*5*/
.blocco5-A{        
    background-color: #238b21;
    height: 500px;    /* debug */
    border: 1px dashed black;
}

/* 6 */
.sezione-nera{
    background-color: #23272a;
}
.blocco6-A{        
    width: 30%;
    background-color: #f08080;
    height: 350px;    /* debug */
    border: 1px dashed black; 
}
.blocco6-B{
    width: 70%;
    height: 350px;    /* debug */
    border: 1px dashed black;
}
/*Menù*/
.blocco6-B ul{
    height: 350px;
    list-style-type: none;

    display: flex;
    background-color: #20b1aa;
}
.blocco6-B ul li{
    flex-direction: column;
    border: 1px dashed white;
    flex-grow: 1;
}

/*FOOTER*/
footer{
    margin-top: 2px;
    background-color: #23272a;
    height: 100px;  /*debug*/

    display: flex;
    align-items: flex-end;
}
.blocco-footer{
    background-color: #7effd4;
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Bottone*/
.blocco-footer button{
    background-color: #ffb6c1;
    border: 1px dashed black;
    padding: 0.3rem;
}
