/*RESET*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*COMMON*/

body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
.flex{
    display: flex;
}
.centra{
    justify-content: center;
}
.contenitore{
    width:75%;
    min-width: 650px;

    max-width: 1100px;
    min-height: 40px;
    margin:0 auto;
}
.contenitore-reverse{
    flex-direction: row-reverse;
}
img{
    width: 100%;
}


/* UTILITY */
.testo-centrato{
    text-align: center;
}
/* HEADER */

header{
    background-color: #255ee9;
    height: 80px;
    display: flex;
    align-items: center;
}

header div.contenitore{
    
    max-height: 40px;   
    min-width: 650px;
    display: flex;
    line-height: 40px;      /*debug*/
    vertical-align: center;
}

/*Menù*/
nav{
    width: 70%;
    display: flex;
}
/* Lista */
nav ul{
    width: 100%;
    min-width: 450px;
    list-style-type: none;
    

    display: flex;
    justify-content: center;

    
}

nav a{
   text-decoration: none;
   color: white;
   margin-right: 1rem;
}

/* Logo */
.logo{
    width: 15%;
    max-height: 100%;
}

/*Login*/
.login{
    width: 15%; 

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
/* Bottoni */
.bottone{
    background-color: white;
    max-height: 30px; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    padding: 1rem ;
    border-radius: 20px;

    font-size: 0.8rem;
}
.bottone a{
    text-decoration: none;
    color: black;
}
.bottone-nero{
    background-color:#23272a;
    color: white;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

/*MAIN*/

/*Sezioni*/
.sezione{
    padding:10rem;
}

.jumbo{
    margin: 0;
}

/*1*/
.jumbo{
    background-image: url(../img/jumbo.png);
    background-size:cover;
   
}
.blocco-jumbo{    
    width: 40%;
}
/*Scritte*/
.blocco-jumbo h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding: 2rem 0rem;
}
.blocco-jumbo p{
    color: white;
    padding-bottom: 2rem;
}
i{
    font-size: 1rem;
}
h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
p{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/*2*/
.sezione-bianca{
    background-color: #ffffff;
}
.blocco2-A{
    width: 60%;
}
.blocco2-B{
    width: 40%;
}

/*3*/
.sezione-grigio{
    background-color: #d3d3d3;
}

/*5*/
.blocco5-A{        
    background-color: #238b21;
    height: 500px;    /* debug */
    border: 1px dashed black;
}

/* 6 */
.sezione-nera{
    background-color: #23272a;
}
.blocco6-A{        
    width: 30%;
    background-color: #f08080;
    height: 350px;    /* debug */
    border: 1px dashed black; 
}
.blocco6-B{
    width: 70%;
    height: 350px;    /* debug */
    border: 1px dashed black;
}
/*Menù*/
.blocco6-B ul{
    height: 350px;
    list-style-type: none;

    display: flex;
    background-color: #20b1aa;
}
.blocco6-B ul li{
    flex-direction: column;
    border: 1px dashed white;
    flex-grow: 1;
}

/*FOOTER*/
footer{
    margin-top: 2px;
    background-color: #23272a;
    height: 100px;  /*debug*/

    display: flex;
    align-items: flex-end;
}
.blocco-footer{
    background-color: #7effd4;
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Bottone*/
.blocco-footer button{
    background-color: #ffb6c1;
    border: 1px dashed black;
    padding: 0.3rem;
}
